<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="realizacion de muebles a medida">
    <meta name="keyword" content="puertas, ventanas, bibliotecas, escritorios, percheros">
    <title>Blog Muebles</title>
    <link rel="stylesheet" href="../assets/css/estilos.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@700&display=swap" rel="stylesheet">
     <!-- CSS only -->
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    </head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="../index.html">LA MUEBLERIA</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              
              <li class="nav-item">
                <a class="nav-link" href="../index.html">Nosotros</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./productos.html">Productos</a>
              </li><li class="nav-item">
                <a class="nav-link" href="./servicios.html">Servicios</a>
              </li><li class="nav-item">
                <a class="nav-link" href="blog.html">Blog</a>
              </li><li class="nav-item">
                <a class="nav-link" href="./contacto.html">Contacto</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="linea"></div>

    <div class="conteinerPequenos"> 

        <div class="card">
            <img src="../assets/imagenes/blog/mesa-redonda.jpg">
            <h2>Beneficios de las mesas redondas</h2>
            <a href="#">Leer más</a>
        </div>

        <div class="card">
            <img src="../assets/imagenes/blog/cuna.jpg">   
            <h2>Como elegir la cuna de tu bebé</h2>
            <a href="#">Leer más</a>
        </div>

        <div class="card">
            <img src="../assets/imagenes/blog/minimalismo1.jpg">
            <h2>Los beneficios del minimalismo</h2>
            <a href="#">Leer más</a>
        </div>

        <div class="card">
            <img src="../assets/imagenes/blog/biblioteca.jpg">
            <h2>Bibliotecas prácticas</h2>
            <a href="#">Leer más</a>
        </div>


        <div class="card">
            <img src="../assets/imagenes/blog/muebles_para_ninos.jpg">
            <h2>Muebles para niños</h2>
            <a href="#">Leer más</a>
        </div>


        <div class="card">
            <img src="../assets/imagenes/blog/puertas_corredizas.jpg">
            <h2>Puertas corredizas: ventajas y desventajas</h2>
            <a href="#">Leer más</a>
        </div>

        <div class="card">
            <img src="../assets/imagenes/blog/maderas.jpg">
            <h2>Maderas clásicas en tu cocina</h2>
        <a href="#">Leer más</a>
        </div>


        <div class="card">
            <img src="../assets/imagenes/blog/altura.jpg">
            <h2>¿Qué altura debe tener mi mueble?</h2>
            <a href="#">Leer más</a>
        </div>


        <div class="card">
            <img src="../assets/imagenes/blog/industrial.jpg">
            <h2>5 tips para decorar tu espacio con estilo industrial</h2>
            <a href="views/blog.html">Leer más</a>
        </div>

        <div class="card">
            <img src="../assets/imagenes/blog/vestidor.png">
            <h2>¿Cuál es el vestidor perfecto?</h2>  
            <a href="views/productos.html">Leer más</a>
        </div>


        <div class="card">
            <img src="../assets/imagenes/blog/muebles_inteligentes.jpg">
            <h2>Muebles inteligentes: doble funcionalidad</h2>
            <a href="views/servicios.html">Leer más</a>
        </div>


        <div class="card">
            <img src="../assets/imagenes/blog/mobiliario.jpg">
            <h2>¿Cómo elegir el mobiliario de tu tienda?</h2>
            <a href="views/blog.html">Leer más</a>
        </div>
    </div>

<footer class="footerDeBlog">
    <div class="redes">
        <a href="https://wa.me/5492634552657"target="_blanket"><img src="../assets/imagenes/logos-de-redes/whatsapp.png" alt="whatsapp"></a>
        <a href="https://www.facebook.com/muebleriaantoniofarina"target="_blanket"><img src="../assets/imagenes/logos-de-redes/facebook.png"  alt="logo de facebook"></a>
        <a  href="https://www.google.com.ar/maps/place/Muebler%C3%ADa+Antonio+Farina/@-33.0912224,-68.4513754,17z/data=!3m1!4b1!4m5!3m4!1s0x967e6db6d76bb055:0xc5526fff36bfb48e!8m2!3d-33.0912224!4d-68.4491867"target="_blanket"><img src="../assets/imagenes/logos-de-redes/ubicacion.png" alt="logo de ubicacion"></a>    
    </div>
    
    <div><p class="pDeFooter">MUEBLERIA FARINA © 2021 | Todos los derechos reservados </p></div>

</footer>


<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>