<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="realizacion de muebles a medida">
    <meta name="keyword" content="puertas, ventanas, bibliotecas, escritorios, percheros">
    <title>Servicios de muebleria</title>
    <link rel="stylesheet" href="../assets/css/estilos.css">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="../index.html">LA MUEBLERIA</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              
              <li class="nav-item">
                <a class="nav-link" href="../index.html">Nosotros</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./productos.html">Productos</a>
              </li><li class="nav-item">
                <a class="nav-link" href="servicios.html">Servicios</a>
              </li><li class="nav-item">
                <a class="nav-link" href="./blog.html">Blog</a>
              </li><li class="nav-item">
                <a class="nav-link" href="./contacto.html">Contacto</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="linea"></div>


    <section class="about">
        <div class="row">
            <div class="col50">
                <h2 class="tituloServicios"><span>M</span>uebles</h2>
                <p class="pservicios">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias recusandae laborum assumenda similique, provident mollitia quasi modi quas atque non.
                </p>
            </div>
                <div class="col50">
                    <div >
                        <img src="../assets/imagenes/servicios/muebleria.JPG" class="imgBx">
                    </div>
                </div>
        </div>
    
        <div class="row" >
            <div class="col50">
                <div >
                    <img src="../assets/imagenes/servicios/diseno.jpg" class="imgBx"  >
                </div>
            </div>
            <div class="col50">
                <h2 class="tituloServicios"><span>D</span>iseño de interiores</h2>
                <p class="pservicios">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias recusandae laborum assumenda similique, provident mollitia quasi modi quas atque non.
                </p>
            </div>
        </div>
   
        <div class="row">
            <div class="col50">
                <h2 class="tituloServicios"><span>L</span>ustre</h2>
                <p class="pservicios">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias recusandae laborum assumenda similique, provident mollitia quasi modi quas atque non.
                </p>
            </div>
                <div class="col50">
                    <div >
                        <img src="../assets/imagenes/servicios/lustre.jpg" class="imgBx">
                    </div>
                </div>
        </div>
    </section>

    <footer class="footerDeServicios">
        <div class="redes">
            <a href="https://wa.me/5492634552657"target="_blanket"><img src="../assets/imagenes/logos-de-redes/whatsapp.png" alt="whatsapp"></a>
            <a href="https://www.facebook.com/muebleriaantoniofarina"target="_blanket"><img src="../assets/imagenes/logos-de-redes/facebook.png"  alt="logo de facebook"></a>
            <a  href="https://www.google.com.ar/maps/place/Muebler%C3%ADa+Antonio+Farina/@-33.0912224,-68.4513754,17z/data=!3m1!4b1!4m5!3m4!1s0x967e6db6d76bb055:0xc5526fff36bfb48e!8m2!3d-33.0912224!4d-68.4491867"target="_blanket"><img src="../assets/imagenes/logos-de-redes/ubicacion.png" alt="logo de ubicacion"></a>    
        </div>
    
        <div class="container"><p class="pDeFooter">MUEBLERIA FARINA © 2021 | Todos los derechos reservados </p></div>

    </footer>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>